body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.5s ease;
  }
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 100px;
    width: 100px;
  }
  .options {
    margin-top: 20px;
  }
  .option {
    margin-bottom: 10px;
  }
  .option label {
    display: inline-block;
    margin-left: 10px;
  }
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  .imposter {
    background-color: rgb(255, 109, 109);
  }
  .crew {
    background-color: rgb(133, 255, 133);
  }
  .security {
    background-color: rgb(133, 133, 255);
  }
  #task{
    background-color: cornsilk;
    border: 2px solid black;
    border-radius:5px ;
  }